@use "./src/mixins/mixins.scss" as *;
@use "./src/common/var.scss" as *;
@use './src/color/index.scss' as *;
@use "sass:map";

$component: "button";

@include buildContainer($component) {
  cursor: pointer;
  height: auto;
  width: auto;
  border: none;
  border-radius: 4px;
  margin: $margin-default-h $margin-default-w;
  padding: $padding-default-h $padding-default-w;
  transition: all 0.4s ease-in-out;
  @at-root {
    @include when($component,$m) {
      font-size: $font-default-size-flex;
      padding: $padding-default-h $padding-default-w;
    }
    @include when($component,$s) {
      font-size: $font-small-size-flex;
      padding: $padding-default-h $padding-default-w;
    }
    @include when($component,$l) {
      font-size: $font-large-size-flex;
      padding: $padding-heavy-h $padding-heavy-w;
    }
    @include when($component,'round'){
      border-radius: 100em;
    }
    @include when($component,'circle'){
      border-radius: 100em;
      padding: $margin-default-common;
    }
    @each $type in $theme-types {
      @include when($component,$type) {
        color: map-get($font-colors, $type);
        background-color: map-get($colors , $type );
        box-shadow: 0px 0px 1px 2px map-get($shadow-colors , $type,'deep'),0px 0px 1px 1px map-get($shadow-colors , $type,'weak');
        &:hover{
          filter: brightness(1.2);
        }
      }
    }
  }
}

