@use "./src/mixins/mixins.scss" as *;
@use "./src/common/var.scss" as *;
@use './src/color/index.scss' as *;
@use "sass:map";

$component: "calc";

@include buildContainer($component) {
  cursor: pointer;
  height: auto;
  width: auto;
  border: none;
  margin: 0;
  border-radius: 100em;
  padding:$padding-default-h calc($padding-heavy-w * 2);
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  
  @include buildWrap($component,'calc'){
    
    @include build($component,'input'){
      width: 5vw;
      height: 5vh;
      border: none;
      outline: none;
      font-size: 2.5vh;
    }
    @include buildWrap($component,'eq'){
      display: inline-block;
      transform: rotate(-135deg);
    }
  }
  @at-root {
   
    @each $type in $theme-types {
      @include when($component,$type) {
        color: map-get($font-colors, $type);
        background-color: map-get($colors, $type );
        // box-shadow: 0px 0px 1px 2px map-get($shadow-colors , $type,'deep'),0px 0px 1px 1px map-get($shadow-colors , $type,'weak');
        &:hover{
          filter: brightness(1.2);
        }

        @include build($component,'input'){
          background-color: map-get($colors, $type );
        }
        @include build($component,'out'){
          font-size: 2.5vh;
          margin: 0 $margin-heavy-w;
          font-weight: 700;
          filter: brightness(1.2);
          color: map-get($shadow-colors, $type,'weak');
        }
      }
    }
  }
}

