@use "./src/mixins/mixins.scss" as *;
@use "./src/common/var.scss" as *;
@use './src/color/index.scss' as *;
@use "sass:map";

$component: "introduction";

@include buildContainer($component) {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  display: inline-block;
  margin: $margin-default-h $margin-default-w;
  transition: all 0.4s ease-in-out;
  @at-root {
    @include when($component,$m) {
      font-size: $font-default-size-flex;
      height: 34vh;
      width: 15vw;
      margin: $margin-default-h $margin-default-w;
      @include buildWrap($component,'top'){
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include build($component,'avatar'){
          height: 80%;
        }
        img{
          height: 80%;
        }
      }
      @include buildWrap($component,'mid'){
        height: 40%;
        width: 100%;
        @include buildWrap($component,'username'){
          height: 35%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          white-space: nowrap;
          word-break: normal;
        }

        @include buildWrap($component,'details'){
          height: calc(65% - 2*$padding-default-h);
          width: calc(100% - 2*$padding-default-w);
          padding: $padding-default-h $padding-default-w;
          text-align: center;
          overflow: hidden;
          .rb-text_container{
            height: 100%;
            width: 100%;
            overflow: hidden;
          }
        }
      }
    }
    @include when($component,$s) {
      height: 6vh;
      width: 16vw;
      font-size: $font-small-size-flex;
      margin: $margin-default-h $margin-default-w;
      
      @include buildWrap($component,'box'){
        height: 100%;
        width: 100%;
        display: flex;
      align-items: center;
      justify-content: space-between;
        @include buildWrap($component,'left'){
          height: 100%;
          width: 26%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px 0 0 6px;
          @include build($component,'avatar'){
            height: 80%;
          }
          img{
            height: 80%;
          }
        }
        @include buildWrap($component,'right'){
          height: 40%;
          width: 74%;
          @include buildWrap($component,'username'){
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            white-space: nowrap;
            word-break: normal;
          }
      }

      }
    }
    @include when($component,$l) {
      height: 48vh;
      width: 18vw;
      font-size: $font-large-size-flex;
      margin: $margin-default-h $margin-default-w;
      @include buildWrap($component,'top'){
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include build($component,'avatar'){
          height: 80%;
        }
        img{
          height: 80%;
        }
      }
      @include buildWrap($component,'mid'){
        height: 25%;
        width: 100%;
        @include buildWrap($component,'username'){
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          white-space: nowrap;
          word-break: normal;
        }

        @include buildWrap($component,'details'){
          height: calc(50% - 2*$padding-default-h);
          width: calc(100% - 2*$padding-default-w);
          padding: $padding-default-h $padding-default-w;
          text-align: center;
          overflow: hidden;
          .rb-text_container{
            height: 100%;
            width: 100%;
            overflow: hidden;
          }
        }
      }
      @include buildWrap($component,'bottom'){
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-between;
        @include buildWrap($component,'icons'){
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          
        } 
      }
    }
    @each $type in $theme-types {
      @include when($component,$type) {
        color: map-get($font-colors, $type);
        background-color: map-get($colors , $type );
        box-shadow: 0px 0px 1px 2px map-get($shadow-colors , $type,'deep'),0px 0px 1px 1px map-get($shadow-colors , $type,'weak');
        &:hover{
          filter: brightness(1.2);
        }
        @include buildWrap($component,'top'){
          background-color: map-get($shadow-colors , $type,'deep' );
        }
        @include buildWrap($component,'left'){
          background-color: map-get($shadow-colors , $type,'deep' );
        }
      }
    }
  }
}

