/**
* ============================================
* @author:syf20020816@outlook.com
* @since:20230330
* @version:1.0.0
* @type:scss
* @description:设置命名规范的scss文件
* 1. 命名空间:rb
* 2. 通用分隔符:-
* 3. 元素分隔符:--
* 4. 外部分隔符:_
* 5. 状态前缀: is-
* ============================================
*/


$namespace: 'rb' !default;
$common-separator: '-' !default;
$outter-separator: '_' !default;
$element-separator:'--'!default;
$state-prefix: 'is-' !default;
//最外部容器
$container:'container';
//外层容器
$wrap:'wrap';
//内部容器
$inner:'inner'